# Crossword Formatting

Quick notebook to format clues.

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("~/Downloads/weddingpuzzle/ZachSunita Wedding.tsv", sep="\t")
df.shape

(42, 4)

In [9]:
df.columns

Index(['"number"', '"answer"', '"clue"', '"notes"'], dtype='object')

In [11]:
df["direction"] = df['"number"'].map(lambda n: "A" if n.endswith("A") else "D")
df["num"] = df['"number"'].map(lambda n: int(n[:-1]))
df.direction.value_counts()

direction
A    24
D    18
Name: count, dtype: int64

In [13]:
df.sample(n=3)

   "number" "answer"                          "clue"  "notes" direction  num
2        9A      elo             Chess rating system      NaN         A    9
3       10A      aaa  Call them when you have a flat      NaN         A   10
16      30A      oui               Yes, in Marseille      NaN         A   30

In [20]:
clue_string = ""
for _, row in df[df.direction == "A"].iterrows():
    clue_string += f"{row.num} " + row['"clue"'] + "\n"
print(clue_string)

1 The groom
6 General Edward Lawrence Logan International Airport, for short
9 Chess rating system
10 Call them when you have a flat
12 ___ v. Wade
13 Carleton colors
14 Latin: In media ___
15 US food safety org.
16 Org. for talks with "Ideas Worth Spreading"
17 Muhammad ___
18 Water vessel
19 Detector
20 The bride
24 Sullen
26 Pen tip
27 Tap offering
30 Yes, in Marseille
31 US benefits org.
32 Sunita, to Zach?
33 Gorilla, for one
34 Mil. leader
35 Regret
36 9-digit number issued by 31-Across
37 Mount Rainier hasn't done this since 1450

In [22]:
clue_string = ""
for _, row in df[df.direction == "D"].iterrows():
    clue_string += f"{row.num} " + row['"clue"'] + "\n"
print(clue_string)

1 Black and white animals
2 Variant of a gene
3 Aunt or uncle's child, to you
4 Sought elected office
5 When repeated, Seinfeld phrase
6 UK-ian
7 Seep
8 Plant starter
11 Not professional
18 Sunita's alma mater
20 Zach, to Sunita?
21 Place into
22 Kleenex
23 Ceased
25 16 make a Pound
27 Cry of regret
28 Cuts (off)
29 Not odd